
/*
td {
    width: 4cm;

    span {
        font-size: 25px;
        height: 100%;
        text-align: center;
    }
}

table {
    height: 100mm;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}




@media print {
    .break {
        page-break-after: always;
    }
}
*/

mat-card {
    border-radius: 20px;
    width: 3.5cm;
    height:1.8cm;
    -webkit-print-color-adjust: exact !important;
    -webkit-filter:opacity(1);
    //font-size: 15px;
   // margin: 10px;
}


@media print {
    mat-card {
      -webkit-filter: drop-shadow(4px 4px 1px #ccc);
      text-shadow: 4px 4px 1px #ccc;
    }
  }

.txt {
    font-size: 15px;
}


.column {
    display: flex;
    flex-direction: column;
}

.crow {
    display: flex;
    flex-direction: row;
}

.header {
    font-size: 25px;
    color: rgba(0,137,255,1);
}

.icon {
    width: auto;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.mirror-horizontal {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.frame {
    border-style: dashed;
    border-width: 3px;
    border-color: rgba(0,137,255,1);
    border-radius: 30px;
    margin-bottom: 10px; 
    padding: 15px;
}